# Virtual environments
venv/
venv_tf/
.env/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders (usually large)
data/
data_processed/
temp_img/
experiments/

# ML / DL models
*.h5
*.hdf5
*.ckpt
*.pb
*.pt
*.pth
*.onnx

# TensorFlow / OpenCV large binaries
*.pyd
*.dll
*.so

# Logs and temp files
logs/
runs/
checkpoints/
*.log

# OS-specific
.DS_Store

# Flask uploads or temp
static/uploads/
