# Core ML stack
numpy
pandas
scikit-learn
opencv-python
matplotlib
seaborn
albumentations
tqdm

# Deep Learning
tensorflow>=2.15

# Web framework (Flask UI)
Flask>=2.0

# Optional but useful
Pillow

# For deployment
gunicorn
